.Installment {
    .Installment__title {
        margin-bottom: 24px;
        width: 100%;
        display: flex;
        justify-content: center;

        p {
            font-size: 24px;
            line-height: 32px;
            font-weight: bold;

        }
    }

    .Installment__table {
        margin-bottom: 100px;
        width: 100%;
        height: 222px;
        display: flex;
        justify-content: space-between;
        padding: 30px 0;
        border-radius: 6px;
        border: 1px solid #ececec;
        padding-top: 30px;
        padding-bottom: 30px;

        .Installment__table__card {
            max-width: 20%;
            padding: 0 16px;
            border-left: 1px solid #ececec;
            min-height: 160px;
            border-left: 1px solid #ececec;

            .Installment__table__card__img__wrapper {
                width: 100%;
                display: flex;
                justify-content: center;
                margin-bottom: 18px;

                .Installment__table__card__img__circle {
                    width: 60px;
                    height: 60px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 100%;
                    background: #f7f7f7;

                    img {
                        width: 40px;
                        height: 40px;
                    }
                }
            }

            .Installment__table__card__title {
                margin-bottom: 10px;
                font-weight: bold;
                color: #333;
                line-height: 24px;
                width: 100%;
                text-align: center;
                cursor: pointer;
            }

            .Installment__table__card__dec {
                max-width: 225px;
                margin: 0 auto;
                font-size: 13px;
                line-height: 16px;
                color: #333;
                text-align: center;
                cursor: pointer;
            }
        }
    }
}